{% extends 'cms/department/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block links %}
	<link type="text/css" href="{% static 'cms/admin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link type="text/css" href="{% static 'cms/admin/bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link type="text/css" href="{% static 'cms/admin/css/theme.css' %}" rel="stylesheet">
	<link type="text/css" href="{% static 'cms/admin/css/theme.css' %}" rel="stylesheet">
	<link type="text/css" href="{% static 'cms/admin/images/icons/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
	<script type="text/javascript">
		function valid()
		{
		if(document.chngpwd.password.value=="")
		{
		alert("Current Password Filed is Empty !!");
		document.chngpwd.password.focus();
		return false;
		}
		else if(document.chngpwd.newpassword.value=="")
		{
		alert("New Password Filed is Empty !!");
		document.chngpwd.newpassword.focus();
		return false;
		}
		else if(document.chngpwd.confirmpassword.value=="")
		{
		alert("Confirm Password Filed is Empty !!");
		document.chngpwd.confirmpassword.focus();
		return false;
		}
		else if(document.chngpwd.newpassword.value!= document.chngpwd.confirmpassword.value)
		{
		alert("Password and Confirm Password Field do not match  !!");
		document.chngpwd.confirmpassword.focus();
		return false;
		}
		return true;
		}
</script>
{% endblock %}

{% block content %}
<div class="module">
	<div class="module-head">
		<h3>Admin Change Password</h3>
	</div>
	<div class="module-body">
		<!--<?php if(isset($_POST['submit']))
		{?>
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<?php echo htmlentities($_SESSION['msg']);?><?php echo htmlentities($_SESSION['msg']="");?>
		</div>
		<?php } ?> -->
		<br />

		<form action="./changepassword" class="form-horizontal row-fluid" name="chngpwd" method="post" onSubmit="return valid();">{% csrf_token %}		
			<div class="control-group">
				<label class="control-label" for="basicinput">Current Password</label>
				<div class="controls">
					<input type="password" placeholder="Enter your current Password"  name="password" class="span8 tip" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="basicinput">New Password</label>
				<div class="controls">
					<input type="password" placeholder="Enter your new current Password"  name="newpassword" class="span8 tip" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="basicinput">Current Password</label>
				<div class="controls">
					<input type="password" placeholder="Enter your new Password again"  name="confirmpassword" class="span8 tip" required>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" name="submit" class="btn">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block scripts %}
	<script src="{% static 'cms/admin/scripts/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'cms/admin/scripts/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'cms/admin/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'cms/admin/scripts/flot/jquery.flot.js' %}" type="text/javascript"></script>
{% endblock %}