{% load static %}
<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>User Profile</title>
	  <link href="style.css" rel="stylesheet" type="text/css" />
	  <link href="anuj.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static  'cms/bootstrap-3.3.6/css/bootstrap.min.css'%}">
</head>
<body>

<div style="margin:50px;">
{% if message %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> {{ message }}
</div>
{% endif %}
<form class="form-horizontal style-form" method="post" name="profile" >{% csrf_token %}
		<div class="form-group">
  			<label class="col-sm-2 col-sm-2 control-label">Complaint #Id</label>
  			<div class="col-sm-4">
  				  <input type="text" name="fullname" required="required" value="{{complaint_id}}" class="form-control" readonly>
  			</div>
		</div>

		<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">Status</label>
  			<div class="col-sm-4">
  				    <select name="status" required="required" class="form-control">
                  <option value="">Select Status</option>
  		       	    <option value="in process">In Process</option>
  		    		    <option value="closed">Closed</option>
  		        </select>
  			</div>
		</div>


		<div class="form-group">
  			<label class="col-sm-2 col-sm-2 control-label">Remark</label>
  			<div class="col-sm-4">
  				  <textarea name="remark" class="form-control" rows="5" required="required"></textarea>
  			</div>
		</div>

		<div class="form-group">
  		  <div class="col-sm-4">
  				  <input type="submit" name="update" value="Submit" class="btn btn-primary">
  				  <input name="Submit2" type="submit" class="txtbox4 btn btn-danger pull-right" value="Close this window " onClick="return f2();" style="cursor: pointer;" />
  			</div>
		</div>
    </form>
</div>

</body>
<script language="javascript" type="text/javascript">
function f2()
{
window.close();
}ser
function f3()
{
window.print(); 
}
</script>
</html>