{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>user details</title>
	<link rel="stylesheet" href="{% static 'cms/bootstrap-3.3.6/css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
		{% for detail in userInfo %}
		ID : {{ detail.complainant_id }}<br><br>
		Name : {{ detail.complainant_name }}<br><br>
		Email : {{ detail.complainant_email }}<br><br>
		Contact : {{ detail.complainant_contact }}<br><br>
		Registration date : {{ detail.complainantReg_date }}
		{% endfor %}
	</div>
</body>
</html>